.sidebar-container {
  background-color: #f0f0f0;
  padding-top: 10px;
  .top {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      .logo-image {
        border-radius: 20px;
      }
    }
  }
  .middle {
    ul {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: flex-start;
      padding: 5px;

      li {
        list-style-type: none;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #fafafa;
        width: 100%;
        border-radius: 10px;
        color: #40a9ff;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background-color: #00474f;
          color: #f0f0f0;
        }
      }
      p {
        color: #00474f;
        background-color: #fafafa;
        font-weight: 600;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    .mode {
    color: #00474f;
    margin-top: 5px;
    }
    .mode-wrapper {
      margin-top: 7px;
      display: flex;
      width: 80%;
      .colorOption {
        width: 70%;
        padding: 10px;
        margin-right: 5px;
        border-radius: 5px;
        // border: 1px solid #40a9ff;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #d9d9d9;
          text-align: center;
          font-weight: 500;
          color:#000000 ;
        }
        &:nth-child(2) {
          background-color: #000000;
          text-align: center;
          font-weight: 500;
          color: #f0f0f0;
        }
      }

    }

  
  }
}
