.new {
  width: 100%;
  display: flex;
  .newContainer {
    flex: 6;
    .topNew,
    .bottomNew {
      h2 {
        font-size: 20px;
        color: #1890ff;
        font-weight: bold;
      }
      padding: 10px;
      margin: 2px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      display: flex;
      .bottom-left {
        flex: 1;
        text-align: center;
        .avatarImage {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
      .bottom-right {
        flex: 2;
        .user-form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .formInput {
            width: 40%;
            label {
              color: #1890ff;
              font-weight: 600;
              font-size: 14px;
              display: flex;
              align-items: center;
              gap: 20px;
              //   background-color: grey;
              padding: 20px;
              width: 50%;
              border: none;
              border-bottom: 1px solid green;
              .icon {
                color: #d46b08;
                font-size: 30px;
                // background-color: grey;
                // padding: 10px;
                max-width: 30px;
                border: 1px solid grey;
              }
            }

            input {
              width: 100%;
              //   border-radius: 10px;
              border: none;
              background-color: #e6f7ff;
              text-align: center;
              font-style: italic;
              padding: 10px;
              border-bottom: 1px solid blue;

              ::placeholder {
                color: #1890ff;
              }
            }
          }
          button {
            width: 40%;
            border: none;
            background-color: #1890ff;
            color: white;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
