.home-page{
   padding-left: 10px;
   padding-right: 10px;
   .widgets, .chart{
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
   }
   .chart{
      padding: 5px 20px;
     
   }
   .hr{
      // color: red;
      height: 10px;
      background-color: #d9d9d9;
   }
}